@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@100;300;400;500;700;900&display=swap");

:root {
    --background-color: #222831;
    --card-bg-color: #393e46;
    --white-text-color: rgba(255, 255, 255, 0.5);
    --white: #fff;
    --link-hover-color: #00adb5;
    --box-shadow: #202125;
    --btn-bg: linear-gradient(to right, #31a5d9, #00adb5);
}

html[data-theme="dark"] {
    --background-color: #222831;
    --card-bg-color: #393e46;
    --white-text-color: rgba(255, 255, 255, 0.5);
    --white: #fff;
    --link-hover-color: #00adb5;
    --box-shadow: #202125;
    --btn-bg: linear-gradient(to right, #31a5d9, #00adb5);
}

html[data-theme="light"] {
    --background-color: #ffffff;
    --card-bg-color: #eeeeee;
    --white-text-color: #222831;
    --white: #393e46;
    --link-hover-color: #00adb5;
    --box-shadow: #202125;
    --btn-bg: linear-gradient(to right, #31a5d9, #00adb5);
}

* {
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    padding: 5rem 2rem;
    height: 100vh;
    background-color: var(--background-color);
    font-family: "Muli", sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}
.toggle {
    position: absolute;
    z-index: 999;
    top: 1.5rem;
    right: 2rem;
    i {
        font-size: 2em;
    }
    .fa-moon{
        cursor: pointer;
        color: #393e46;
    }
    .fa-sun {
        color: #ffdf6b;
    }
}

.component--search {
    background-color: var(--card-bg-color);
    border-radius: 5px;
    padding: 40px 45px;

    form {
        margin-bottom: 30px;
        position: relative;
        .search-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 53px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                height: 2rem;
                color: var(--white-text-color);
            }
        }
        input {
            padding-left: 53px;
            height: 50px;
            width: 100%;
            background-color: var(--background-color);
            border: none;
            border-radius: 5px;
            font-size: 16px;
            color: var(--white);
            &::placeholder {
                color: var(--white-text-color);
            }
            &:focus {
                outline: 0;
            }
        }
    }
    h6 {
        font-size: 12px;
        font-weight: bold;
        color: var(--white);
        text-transform: uppercase;
    }
    ul {
        margin-top: 13px;
        li {
            a {
                display: block;
                text-decoration: none;
                font-size: 16px;
                color: var(--white);
                padding: 7px 00;
                &:hover {
                    color: var(--link-hover-color);
                }
            }
            &.active a {
                color: var(--link-hover-color);
                font-weight: bold;
            }
        }
    }
}

.component--filter-search {
    background-color: var(--card-bg-color);
    border-radius: 5px;
    form {
        padding: 14px;
        height: 68px;
        display: flex;
        .input {
            display: flex;
            align-items: center;
            flex: 1;
            .search-icon {
                width: 50px;
                text-align: center;
                svg {
                    height: 2rem;
                    color: var(--white-text-color);
                }
            }
            input {
                background-color: transparent;
                height: 40px;
                width: 100%;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                color: var(--white);
                &::placeholder {
                    color: var(--white-text-color);
                }
                &:focus {
                    outline: 0;
                }
            }
        }
        ul {
            display: flex;
            margin-left: 15px;
            li {
                label {
                    .text {
                        display: block;
                        height: 40px;
                        line-height: 40px;
                        font-size: 16px;
                        color: var(--white);
                        padding: 0 25px;
                        cursor: pointer;
                        border-radius: 40px;
                    }
                    input {
                        display: none;
                        &:checked + .text {
                            background-color: var(--background-color);
                            color: var(--link-hover-color);
                        }
                    }
                }
            }
        }
    }
}

.component--filter {
    background-color: var(--card-bg-color);
    border-radius: 5px;
    padding: 40px 45px;
    box-shadow: 0 15px 25px -20px var(--box-shadow);
    form {
        ul {
            li {
                display: flex;
                align-items: center;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                .key {
                    width: 100px;
                    font-size: 16px;
                    font-weight: bold;
                    color: var(--white);
                }
                .value {
                    flex: 1;
                    input,
                    select {
                        padding: 0 20px;
                        height: 50px;
                        width: 100%;
                        background-color: var(--background-color);
                        border: none;
                        border-radius: 5px;
                        font-size: 16px;
                        color: var(--white);
                        &::placeholder {
                            color: var(--white-text-color);
                        }
                        &:focus {
                            outline: 0;
                        }
                    }
                    .select-box {
                        select {
                            cursor: pointer;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            background-image: url("../images/chevron-down-solid.svg");
                            background-repeat: no-repeat;
                            background-position: calc(100% - 25px) center;
                        }
                    }
                }
                &.filter-button {
                    margin-top: 40px;
                    border-top: 1px solid var(--background-color);
                    padding-top: 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a {
                        color: var(--white-text-color);
                        text-decoration: none;
                        font-size: 16px;
                        &:hover {
                            color: var(--white);
                        }
                    }
                    button {
                        cursor: pointer;
                        height: 50px;
                        padding: 0 30px;
                        display: flex;
                        align-items: center;
                        background: var(--btn-bg);
                        font-size: 16px;
                        color: var(--white);
                        border: none;
                        border-radius: 50px;
                        box-shadow: 0 15px 25px -20px var(--box-shadow);
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
